* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.main {
  height: 100%;
  width: 1005;
  background-color: #2e361a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  overflow: hidden;
  position: relative;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  min-height: 55vh;
  width: 45vw;
  background-color: #a8a8a8;
}
h2 {
  user-select: none;
  margin-bottom: 5px;
}
#textarea {
  position: relative;
  height: 25px;
  width: 350px;
  /* border-radius: 5px; */
  padding: 10px;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}
#add {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  outline: none;
  background: #ec5103;
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  height: 45px;
  width: 100px;
}
#add:hover{
    background: #cd4704;
}
ul {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
ul li {
  text-transform: capitalize;
  width: 100%;
  position: relative;
  user-select: none;
  cursor: pointer;
  font-size: 17px;
  list-style: none;
  padding: 5px 10px 5px 30px;
  display: flex;
  justify-content: flex-start;
  transition: 0.2s;
}
ul li:hover{
    background-color: #7f7f7f;
}
ul li::before {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  border-radius: 50%;
  background-size: cover;
  border: 1px solid #0000006b;
  top: 7px;
  left: 5px;
}
.checked {
  color: #000;
  text-decoration: line-through;
  background-color: rgb(133, 133, 133);
}
.checked::before {
  content: "";
  background-image: url(check-mark-icon-free-png.webp);
}
ul li #cross {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 30px 0px 0px;
  width: 30px;
  font-size: 25px;
  height: 30px;
  transition: 0.3s;
}
ul li #cross:hover {
  background-color: #797979;
  color: #f00000;
}
