*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(135deg,#667eea,#764ba2);
}

.content{
  width:520px;
  padding:40px;
  border-radius:18px;
  background:rgba(255,255,255,0.18);
  backdrop-filter:blur(12px);
  box-shadow:0 12px 40px rgba(0,0,0,0.35);
}

h2{
  text-align:center;
  color:white;
  margin-bottom:25px;
  font-weight:600;
  letter-spacing:1px;
  font-size:28px;
}

.inputSection{
  display:flex;
  margin-bottom:25px;
}

#textarea{
  flex:1;
  padding:15px;
  border:none;
  outline:none;
  border-radius:10px 0 0 10px;
  font-size:16px;
  background:white;
}

#add{
padding:15px 22px;
border:none;
background:#00c853;
color:white;
font-weight:600;
cursor:pointer;
border-radius:0 10px 10px 0;
font-size:15px;
transition:0.25s;
}

#add:hover{
  background:#00b248;
transform:scale(1.03);
}

ul{
  list-style:none;
}

ul li{
  /* overflow-x:hidden; */
background:white;
margin-bottom:14px;
padding:14px 70px 14px 18px;
border-radius:10px;

font-size:17px;
cursor:pointer;
position:relative;

transition:all 0.25s ease;
word-break: break-word;
overflow-wrap: anywhere;
white-space: normal;
max-width:100%;
}

ul li:hover{
/* transform:translateX(5px); */
box-shadow:0 5px 18px rgba(0,0,0,0.2);
}

.checked{
text-decoration:line-through;
color:#777;
background:#e0e0e0;
}

.edit{
position:absolute;
right:40px;
top:50%;
transform:translateY(-50%);
font-size:18px;
cursor:pointer;
opacity:0.7;
transition:0.2s;
}

.edit:hover{
opacity:1;
transform:translateY(-50%) scale(1.2);
color:#2196f3;
}

.delete{
position:absolute;
right:12px;
top:50%;
transform:translateY(-50%);
font-size:20px;
cursor:pointer;
opacity:0.7;
transition:0.2s;
}

.delete:hover{
color:red;
opacity:1;
transform:translateY(-50%) scale(1.2);
}
#myList li{
display:block;
}

#myList{
max-height:280px;
overflow-y:auto;
}

#myList::-webkit-scrollbar{
width:6px;
}

#myList::-webkit-scrollbar-thumb{
background:#888;
border-radius:10px;
}

#myList::-webkit-scrollbar-thumb:hover{
background:#555;
}